<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
		<!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            
            <!--控制台只输出info及以上级别的信息-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        
		<!-- Rolling File Appender -->
		<RollingFile name="FileAppender">
            <!--文件只输出error及以上级别的信息-->
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            
			<FileName>D:/Temp/mylog.log</FileName>
			<FilePattern>D:/Temp/time-based-logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
			  <TimeBasedTriggeringPolicy interval="2" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
  		</RollingFile>
    </Appenders>

    <Loggers>
    	<!-- 
        <Logger name="org.springframework" level="info" additivity="false"></Logger>
        <Logger name="org.mybatis" level="info"></Logger>
		 -->
		 
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
    
</Configuration>